html
	head
		meta(http-equiv='Content-Type', content='text/html; charset=UTF-8')
		title 원격 데스트탑 접속자
	body
		h1 아래의 사용자가 접속해있습니다
		if number < 1
			ul
				li 사용자가 없습니다
		else
			ol
				each d in data
					li(id=d.SessionId) #{d.address} : #{d.host} [#{d.rdp}]